extends layout

block content
  p You'll find the administrative functions below.

  #admin
    h2 Reset Database
    h3 Warning!! There will be no further mechanisms to prevent the actions.
    p Clicking the following button will reset the database. This will be immediate and without warning. You will wipe out #{numDocs} records.
    form#reset(action="/admin/reset" method="post")
      input(type="submit", value="RESET DATABASE", class="submit")
    p
