#banner
#navigation
    ul#nav
        case page_id
            when "index"
                li: a(href="/", title="index" class="active") Index
                li: a(href="/submit", title="submit") Submit Drink
                li: a(href="/view", title="view") View Database
                li: a(href="/admin", title="admin") Admin
                li: span(class="nav_env") Running on #{host}
            when "submit"
                li: a(href="/", title="index") Index
                li: a(href="/submit", title="submit", class="active") Submit Drink
                li: a(href="/view", title="view") View Database
                li: a(href="/admin", title="admin") Admin
                li: span(class="nav_env") Running on #{host}
            when "view"
                li: a(href="/", title="index") Index
                li: a(href="/submit", title="submit") Submit Drink
                li: a(href="/view", title="view", class="active") View Database
                li: a(href="/admin", title="admin") Admin
                li: span(class="nav_env") Running on #{host}
            when "admin"
                li: a(href="/", title="index") Index
                li: a(href="/submit", title="submit") Submit Drink
                li: a(href="/view", title="view") View Database
                li: a(href="/admin", title="admin", class="active") Admin
                li: span(class="nav_env") Running on #{host}
            default
                li: a(href="/", title="index", class="active") Index
                li: a(href="/submit", title="submit") Submit Drink
                li: a(href="/view", title="view") View Database
                li: a(href="/admin", title="admin") Admin
                li: span(class="nav_env") Running on #{host}