extends layout

block content
  p Welcome to DrinkApp! This is your one stop place for submitting and viewing your favorite drinks and their recipes.
  p On a more serious note: this is a second-pass at a simple web application for demonstration purposes. 
  p I wrote this to learn how to use NodeJS. That then led to using NodeJS and ExpressJS (Express is the front end, NodeJS is the back end). Then it led to using pug for templating. Oh, I'm also talking to a MongoDB database. 
  p This webapp is meant to be amateurish. So I hope you like it! 