extends layout

block content
    p Fill out the form below to submit your favorite drink.
    p
    div
        form(action="/submit", method="post")
            table#submit_entry_form
                tbody
                    tr
                        td(align="right") Name: 
                        td: input(type="text", name="name", size="50")
                    tr
                        td(align="right") Drink: 
                        td: input(type="text", name="drink", size="50")
                    tr
                        td(colspan="2", align="center"): input(type="submit", value="Submit")
    p