extends layout

block content
  h2 Viewing the Database
  p
    a(href="/view/drinks/all", title="json") Click Here for JSON
  p
  table#drinks
    tr
      th ID
      th Name
      th Drink
    each drink in drinks
      tr
        td= drink._id
        td= drink.name
        td= drink.drink
    else
      p No Data!
  p