body {
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

div#body {
  max-width: 960px;
  margin: auto;
  /*border: 2px solid black;*/
}

/*
div#navigation {
  width: 500px;
}
*/

div#content {
  max-width: 900px;
  margin: auto;
}

div#footer {
  border-top: 1px solid black;
}

div#footer p {
  text-align: center;
  font-style: italic;
  font-size: 10px;
}

table#nav {
  border: 1px solid black;
  border-collapse: collapse;
}

table#nav td {
  border: 1px solid black;
  padding: 5px;
}

table#nav td a {
  color: black;
  text-decoration: none;
}

table#nav td a:hover {
  background-color: black;
  color: white;
}

ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    background-color: #696969;
    border: 1px solid #333;
}
ul#nav li {
    float: left;
}
ul#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul#nav li a:hover {
    background-color: #111;
    color: white;
}

ul#nav li .active {
    /*background-color: #4CAF50;*/
    background-color: white;
    color: black;
    font-weight: bold;
}

ul#nav li span.nav_env {
  color: white;
  padding: 14px 16px;
  display: block;
  border-left: 4px solid black;
}

table#submit_entry_form {
  border: 1px solid black;
  max-width: 700px;
  margin: auto;
  padding: 10px;
}

table#drinks {
  border: 1px solid black;
  max-width: 700px;
  margin: auto;
  padding: 10px;
  border-collapse: collapse;
}

table#drinks th {
  border: 1px solid black;
}

table#drinks td {
  border: 1px solid black;
  padding: 10px;
  vertical-align: text-top;
}

form#reset {
  max-width: 400px;
  margin: auto;
}

form#reset input.submit {
  /*width: 20em;  
  height: 10em;*/
  font-size: 20px;
}

div#banner {
  background-image: url("../images/banner_01.png");
  width: 900px;
  height: 155px;
  margin: auto;
}